[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geodatasets = "*"
geopandas = "*"
folium = "*"
notebook = "*"
matplotlib = "*"
mapclassify = "*"
xlrd = "*"
contextily = "*"

[dev-packages]

[requires]
python_version = "3.11"
